<div class="d-flex align-items-center header">

  <div>
    <span (click)="toggle()">
      <fa-icon [icon]="faBars"></fa-icon>
    </span>
  </div>

  <div class="title flex-grow-1 text-center">
    <h1>{{ title }}</h1>
  </div>

  <div>
    <span *ngIf="(log$ | async) === 'login'; else other_content">
      {{ user }}
      <button (click)="logout()">Logout</button>
    </span>

    <!-- <fa-icon [icon]="faSignInAlt"></fa-icon> -->

    <ng-template #other_content>
      <button (click)="login()">Login</button>
    </ng-template>

    <span>
      <fa-icon [icon]="faUser"></fa-icon>
    </span>
  </div>

</div>
